Breedte = int(input(geef de breedte van het onderste vlak: )
Diepte = int(input(geef de diepte van het onderste vlak: )
Hoogte = int(input(geef de hoogte van het onderste vlak: )
Oppervlakte = Breedte x Diepte x Hoogte
Print(oppervlakte)
